.mapouter {
  position: relative;
  text-align: right;
  max-height: 350px;
  max-width: 500px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  max-height: 350px;
  max-width: 500px;
}
